* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* REGOLE BODY */
body {

  font-family: Open sans;
  height: 100vh;
  width: 100vw;

}

/* =================================================================== */

/* REGOLE HEADER */
header {

  display: flex;
  justify-content: center;
  width: 100%;
  height: 5vw;
  background-color: white;

}

/* contenitore header */
header div {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;

}

/* logo header */
figure img {

  width: 3.6vw;

}


/* regole lista nav (header) */
nav ul li {

  display: inline-block;
  margin: 1vw;
  text-decoration: none;
  list-style-type: none;

}

/* a solo di li */
nav a {

  color: black;

}

/* effetto per il bordo sotto i link nel navbar*/
nav a:active {

  border-bottom: 20px solid #0c7cec;
  padding-bottom: 2vw;

}

/* ================================================================== */

/* REGOLE MAIN */
main {

  height: auto;
  width: 100vw;

}


/* BLOCCO 1 */
main #cont-jumbo {

  width: 100vw;

}

/* contenitore del jumbotron */
#cont-jumbo img {

  width: 100vw;
  height: 23vw;
  object-fit: cover;
  object-position: center top;

}

/* contenitore < fumetti */
#container-dc {

  display: flex;
  justify-content: center;
  background-color: black;
  width: 100vw;
  height: auto;

}

/* contenitore delle card dei fumetti */
main .comics_container {

  width: 80vw;
  height: auto;

}

/* Ogni singola card di comics*/
.prod-card {

  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 2vw;
  padding: 2vw 0;

}

/* contenitore di album e title_text*/
.card {

  display: flex;
  flex-direction: column;

}

/* Immagine dentro la card */
.album {

  height: 15vw;
  width: 10vw;
  overflow: hidden;
  margin-bottom: 1vw;

}

.album img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 4px solid red; */

}

/* Titolo della card */
.title_text {

  display: flex;
  align-items: center;
  text-align: start;
  width: 10vw;
  /* border: 4px solid blue; */

}

.title_text h4 {

  font-size: 0.7vw;
  font-weight: bold;
  color: white;

}


/* BLOCCO 3 */
main #feature {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  background-color: #0c7cec;

}

#container2 {

  display: flex;
  justify-content: center;
  background-color: #0c7cec;
  width: 100vw;

}

/* card icone */
#feature .card {

  justify-content: center;
  align-items: center;
  display: flex;

}

/* testo card */
.card span {

  color: white;
  cursor: pointer;
  font-size: 0.7vw;
  margin-left: 0.5vw;

}

/* immagini card */
#feature img {

  width: 3.5vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;

}

/* id svg */
#svg {

  width: 5.6vw;

}

/* =================================================================== */

/* REGOLE FOOTER */
footer {

  width: 100vw;

}

/* BLOCCO 1 FOOTER */
#fcont1 {

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/img/footer-bg.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;

}

/* lista link footer */
#link {

  display: flex;
  justify-content: start;
  width: 40vw;

}

/* colonne div link */
.column {

  flex: 0.21;
  padding: 2vw;

}


/* regole h2 */
h2 {

  color: white;
  font-size: 0.8vw;
  margin-bottom: 1vw;

}

/* regole li items */
#link ul li {

  margin-bottom: 0.5vw;
  text-decoration: none;
  list-style-type: none;

}

#link a {

  color: gray;
  cursor: pointer;

}


/* logo grande footer */
#f_logo {

  display: flex;
  justify-content: center;
  width: 40vw;

}

#f_logo img {

  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 31vw;

}


/* BLOCCO 2 FOOTER */
#fcont2 {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 51, 51);
  padding: 1vw;

}

/* regole bottone */
.signup {

  display: flex;
  justify-content: start;
  align-items: center;
  width: 40vw;

}

button {

  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #0c7cec;

}

button h3 {

  color: white;
  font-size: 0.9vw;
  font-weight: bolder;
  padding: 0.3vw;
  cursor: pointer;

}


/* regole container icons */
.icons {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;

}

/* immagini social */
.icons img {

  filter: grayscale(100%) brightness(80%);
  cursor: pointer;
  width: 1.5vw;


}

/* titolo icone */
.icons h3 {

  color: #0c7cec;
  font-size: 0.8vw;

}

/* ================================================================== */

/* regole di tutti i tag a */
a {

  text-decoration: none;
  color: white;
  font-size: 0.6vw;

}