/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Open sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* REGOLE BODY */
body {

  font-family: Open sans-serif;
  height: 100vh;
  width: 100vw;

}

/* REGOLE HEADER */
header {

  display: flex;
  justify-content: center;
  width: 100%;
  height: 5vw;
  background-color: white;

}

/* contenitore header */
header div {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;

}

/* logo header */
figure {

  font-size: 1em;

}

/* lista nav */
nav ul {

  list-style-type: none;

}

/* li items */
nav ul li {

  display: inline-block;
  margin: 1vw;
  text-decoration: none;

}

/* a solo di li */
nav ul li a {

  color: #0c7cec;
  font-size: 1em;

}

/* effetto per il bordo */
a.active {

  border-bottom: 10px solid #0c7cec;
  padding-bottom: 2vw;

}


/* REGOLE MAIN */
main {

  height: auto;
  width: 100vw;

}

/* BLOCCO 1 */
main #content {

  display: flex;
  justify-content: start;
  align-items: center;
  width: 80vw;
  height: 5vw;
  background-color: black;

}

#container1 {

  display: flex;
  justify-content: center;
  background-color: black;
  width: 100vw;

}

/* titolo blocco 1*/
h1 {

  font-weight: bolder;
  font-size: 2.5em;

}


/* BLOCCO 2 */
main #feature {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  background-color: #0c7cec;

}

#container2 {

  display: flex;
  justify-content: center;
  background-color: #0c7cec;
  width: 100vw;

}

/* card icone */
#feature .card {

  justify-content: center;
  align-items: center;
  display: flex;

}

/* testo card */
.card span {

  color: white;
  font-weight: bolder;
  cursor: pointer;

}

/* immagini card */
.card img {

  font-size: 1em;
  padding: 1.5vw;

}

/* id svg */
#svg {

  width: 9vw;

}


/* REGOLE FOOTER */
footer {

  width: 100vw;
  height: auto;
  background-color: gray;

}

/* BLOCCO 1 FOOTER */
#fcont1 {

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/img/footer-bg.jpg);
  background-size: cover;

}

/* lista link footer */
#link {

  display: flex;
  justify-content: start;
  width: 40vw;

}

/* logo grande footer */
#f_logo {

  display: flex;
  justify-content: center;
  width: 40vw;

}


/* BLOCCO 2 FOOTER */
#fcont2 {

  display: flex;
  background-color: grey;

}

/* colonne div link */
.column {

  flex: 1;

}








/* regole di tutti i link */
a {

  text-decoration: none;
  color: white;

}






/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */